<h1><%= @artist.name %></h1>

<b>Bio: </b><%= @artist.bio %> <br>
<b>Genre: </b><%= @artist.genre %>
<br><br>
<%= link_to "Edit Artist Info", edit_artist_path(@artist)%> <br>
<%= link_to "Enter New Show", new_artist_show_path(@artist) %>
<br><br>


<b>Upcoming Shows:</b>
<ul>
<% @upcoming.each do |show| %>
  <li><%= link_to "#{show.date.strftime("%B %d, %Y")} at #{show.venue.name}", artist_show_path(@artist, show) %></li>
<% end %>
</ul>

<b>Past Shows:</b>
<ul>
<% @past.each do |show| %>
  <li><%= link_to "#{show.date.strftime("%B %d, %Y")} at #{show.venue.name}", artist_show_path(@artist, show) %></li>
<% end %>
</ul>


<b>Venues Played:</b>
<ul>
<% @venues.each do |venue| %>
  <li><%= venue.name %></li>
<% end %>
</ul>
