<%= image_tag(@artist.image_url(:profile).to_s) %>
<h1><%= @artist.name %></h1>

<b>Bio: </b><%= @artist.bio %> <br>
<b>Genre: </b><%= @artist.genre %>

<% if @artist == current_artist %>
<br><br>
  <%= link_to "Edit Artist Info", edit_artist_path(@artist)%> <br>
  <%= link_to "Enter New Show", new_artist_show_path(@artist) %><br>
  <%= link_to "Enter New Venue", new_venue_path %>
<% end %>
<br><br>

<button class="js-view-shows" data-id="<%= @artist.id %>">View Shows</button><br>
<ul><div class="js-shows-upcoming"></div></ul>
<ul><div class="js-shows-past"></div></ul>

<button class="js-view-venues" data-id="<%= @artist.id %>">View Venues Played</button><br>
<ul><div class="js-venues"></div></ul>

<% if @artist == current_artist %>
  <button class="js-new-show">Post a New Show</button>
<% end %>

<div class="js-form-render">
  <h3>Post a New Show</h3>

  <%= form_for(@show) do |f| %>
    <%= render "shows/form", f: f %>
    <p>Or Create a New Venue</p>
    <%= fields_for :venue, @show.venue do |f| %>
      <%= render "venues/form", f: f %>
    <% end %>
    <%= f.submit %>
  <% end %>

</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="js-posted-object"></div>
<br>
<br>
