<h1> Edit Venue Info </h1>
<br>

<% if @venue.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @venue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 <br>
<%= form_for @venue do |f| %>
  <%= render "venues/form", f: f %>
<% end %>

<%= button_to('Delete Venue', venue_path(@venue), :method => :delete, :class => 'well')%>
<%= link_to "Go Back to Profile", artist_path(current_artist)%>
