<h1><%= @venue.name %></h1>
Address: <b><%= @venue.address %></b><br>
Contact: <b><%= @venue.contact %></b>
<br>
<br>
<%= render "shows/display_shows" %>

<b>Artists Who Have Played Here:</b>
<ul>
<% @artists.uniq.each do |artist| %>
  <li><%= link_to "#{artist.name}", artist_path(artist) %></li>
<% end %>
</ul>

<br>
<% if artist_signed_in? %>
  <%= link_to "Edit Venue Info", edit_venue_path(@venue)%> <br>
  <%= link_to "Go Back to Profile", artist_path(current_artist)%>
  <%= button_to('Delete Venue', venue_path(@venue), :method => :delete, :class => 'well')%>
<% end %>
