<h1>Edit Show Info</h1>

<% if @show.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @show.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@show) do |f| %>
  <%= render "form", f: f %>
  <p>Or Create a New Venue</p>
  <%= fields_for :venue, @show.venue do |f| %>
    <%= render "venues/form", f: f %>
  <% end %>
  <%= f.submit %>
<% end %>
