<h1>Post a New Show</h1>

<%= render "application/display_errors", object: @show %>

<%= form_for(@show) do |f| %>
  <%= render "form", f: f %>
  <p>Or Create a New Venue</p>
  <%= fields_for :venue, @show.venue do |f| %>
    <%= render "venues/form", f: f %>
  <% end %>
  <%= f.submit %>
<% end %>
