<button class="js-next" data-id="<%= @show.id %>">Next Show</button>
<h3><div id="artist_name"><%= @show.artist.name %></div>'s Show at <div id="show_venue_name"><%= @show.venue.name %></div></h3>
<p><b>Date: </b><div id="show_date"><%= @show.date.strftime("%B %d, %Y") %></div></p>
<p><b>Info: </b><div id="show_info"><%= @show.info %></div></p>
<p><b>Location: </b><div id="venue_address"><%= @show.venue.address %></div></p>
<br>

<% if artist_signed_in? %>
  <%= link_to "Edit Show Info", edit_artist_show_path(@show.artist, @show)%> <br>
  <%= link_to "Go Back to Profile", artist_path(@show.artist)%>
  <%= button_to('Delete Show', show_path(@show), :method => :delete, :class => 'well')%>
<% end %>
