<h3> Shows Tonight </h3>

<br>
<%= form_tag(artists_search_path) do %>
  <%= text_field_tag :name, nil, placeholder: 'Enter Artist Name' %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<p><%= link_to "Show Calendar", shows_path %></p>
<p><%= link_to "Browse Venues", venues_path %></p>
